---
import JavascriptCertificate from "../../../../assets/certificates/diploma-javascript-full-stack.png";
import PhpCertificate from "../../../../assets/certificates/diploma-desarrollo-php.png";
import JavaCertificate from "../../../../assets/certificates/diploma-desarrollo-java.png";
import RetratoCertificate from "../../../../assets/certificates/retoque-fotografia.png";
import UdemyNodeCertificate from "../../../../assets/certificates/udemy-node.png";
import DevtallesRiverpod from "../../../../assets/certificates/diploma-devtalles-riverpod.png";

const certificates = [
  {
    instutute: "Platzi",
    name: "Javascript full stack",
    date: "2020",
    image: JavascriptCertificate,
  },
  {
    institute: "Platzi",
    name: "PHP Backend Developer",
    date: "2020",
    image: PhpCertificate,
  },
  {
    institute: "Platzi",
    name: "Java Backend Developer",
    date: "2020",
    image: JavaCertificate,
  },
  {
    institute: "Crhana",
    name: "Retrato avanzado para retratos",
    date: "2021",
    image: RetratoCertificate,
  },
  {
    institute: "Udemy",
    name: "Introducción a Node.js",
    date: "2021",
    image: UdemyNodeCertificate,
  },
  {
    institude: "DevTalles",
    name: "Riverpod",
    date: "2023",
    image: DevtallesRiverpod,
  },
];

// Reorder certificates by date last to first
certificates.sort((a: any, b: any) => {
  return b.date - a.date;
});
---

<section
  class="w-full grid grid-cols-1 md:grid-cols-3 max-w-6xl self-center gap-4"
>
  {
    certificates.map((item) => (
      <div class="w-full h-auto">
        <img src={item.image.src} alt={item.name} />
      </div>
    ))
  }
</section>
