---
import ProfessionalExperienceCard from "../../../components/professional-experience-card.astro";
import Data from "./experience-data.json";

export const experience = Data;
---

<section class="flex flex-col gap-2 w-full px-8">
  <h6 class="text-lg font-bold">Professional Experience</h6>
  <div class="w-full flex flex-col gap-4 overflow-x-auto overflow-y-auto">
    {
      experience.map((item, index) => (
        <ProfessionalExperienceCard {...item} key={index} />
      ))
    }
  </div>
</section>
