---
import ProfessionalExperienceCard from "../../../components/professional-experience-card.astro";
---

<section class="flex flex-col gap-2 w-full">
  <h6 class="text-lg font-bold">Professional Experience</h6>
  <div class="w-full flex flex-col gap-4 overflow-x-auto overflow-y-auto">
    <ProfessionalExperienceCard />
    <ProfessionalExperienceCard />
    <ProfessionalExperienceCard />
  </div>
</section>
