<section class="w-full flex max-w-lg space-x-4">
    <div class="w-1/3 aspect-square rounded-full bg-black">
        Avatar
    </div>
    <div class="w-2/3">
    Aqui debe ir una descripción de mi</div>
</section>