---
import AvatarImage from "../../../components/avatar-image.astro";
---

<section class="w-full flex max-w-lg space-x-4 items-center">
  <div class="w-1/3 aspect-square">
    <AvatarImage />
  </div>
  <article class="w-2/3 flex flex-col">
    <h4 class="text-xl font-bold underline underline-offset-2">About me</h4>
    <p>
      Hi!👋 My name is Robinson Ortega. I have 4 years of experience working on
      various web development projects, including frontend, backend, mobile
      development, database modeling, database programming, and DevOps.
    </p>
  </article>
</section>
