---
import HorizontalScroll from "../../../components/horizontal-scroll.astro";

import JavascriptIcon from "../../../../assets/skills/javascript.svg";
import TypescriptIcon from "../../../../assets/skills/typescript.svg";
import NodeJsIcon from "../../../../assets/skills/node-js.svg";
import ReactIcon from "../../../../assets/skills/react.svg";
import NextIcon from "../../../../assets/skills/next-js.svg";
import VueIcon from "../../../../assets/skills/vue.svg";
import NuxtIcon from "../../../../assets/skills/nuxt.svg";
import AngularIcon from "../../../../assets/skills/angular.svg";
import PhpIcon from "../../../../assets/skills/php.svg";
import LaravelIcon from "../../../../assets/skills/laravel.svg";
import IonicIcon from "../../../../assets/skills/ionic.svg";
import ExpoIcon from "../../../../assets/skills/expo.svg";
import DartIcon from "../../../../assets/skills/dart.svg";
import FlutterIcon from "../../../../assets/skills/flutter.svg";
import JavaIcon from "../../../../assets/skills/java.svg";
import CSharpIcon from "../../../../assets/skills/c-sharp.svg";
import SpringFrameworkIcon from "../../../../assets/skills/spring.svg";
import FirebaseIcon from "../../../../assets/skills/firebase.svg";
import MongoIcon from "../../../../assets/skills/mongodb.svg";
import OracleIcon from "../../../../assets/skills/oracle.svg";
import SQLIcon from "../../../../assets/skills/sql-server.svg";
import PostgresIcon from "../../../../assets/skills/postgresql.svg";
import MySqlIcon from "../../../../assets/skills/mysql.svg";

const data = [
  {
    name: "Javascript",
    icon: JavascriptIcon,
  },
  {
    name: "Typescript",
    icon: TypescriptIcon,
  },
  {
    name: "NodeJs",
    icon: NodeJsIcon,
  },
  {
    name: "React",
    icon: ReactIcon,
  },
  {
    name: "Next Js",
    icon: NextIcon,
  },
  {
    name: "Vue",
    icon: VueIcon,
  },
  {
    name: "Nuxt Js",
    icon: NuxtIcon,
  },
  {
    name: "Angular",
    icon: AngularIcon,
  },
  {
    name: "Ionic",
    icon: IonicIcon,
  },
  {
    name: "Expo",
    icon: ExpoIcon,
  },
  {
    name: "Php",
    icon: PhpIcon,
  },
  {
    name: "Laravel",
    icon: LaravelIcon,
  },
  {
    name: "Dart",
    icon: DartIcon,
  },
  {
    name: "Flutter",
    icon: FlutterIcon,
  },
  {
    name: "Java",
    icon: JavaIcon,
  },
  {
    name: "Spring Framework",
    icon: SpringFrameworkIcon,
  },
  {
    name: "C#",
    icon: CSharpIcon,
  },
  {
    name: "Firebase",
    icon: FirebaseIcon,
  },
  {
    name: "Mongo",
    icon: MongoIcon,
  },
  {
    name: "Oracle",
    icon: OracleIcon,
  },
  {
    name: "Sql server",
    icon: SQLIcon,
  },
  {
    name: "PostgreSQL",
    icon: PostgresIcon,
  },
  {
    name: "MySQL",
    icon: MySqlIcon,
  },
];
---

<section class="flex flex-col gap-2 w-full">
  <div class="w-full self-center max-w-6xl">
    <h6 class="text-xl font-bold mx-8">Professional Skills</h6>
  </div>
  <HorizontalScroll items={data} />
</section>
