---
import HorizontalScroll from "../../../components/horizontal-scroll.astro";
---

<section class="flex flex-col gap-2 w-full">
  <h6 class="text-lg font-bold">Professional Skills</h6>
  <HorizontalScroll items={["item1", "Item 2"]} />
</section>
