---
import HorizontalScroll from "../../../components/horizontal-scroll.astro";
import data from "./skils.json";
---

<section class="flex flex-col gap-2 w-full">
  <h6 class="text-xl font-bold mx-8">Professional Skills</h6>
  <HorizontalScroll items={data} />
</section>
