---
import Resume from "./components/Resume.astro";
import Skils from "./components/Skils.astro";
import Study from "./components/Study.astro";
---

<main class="w-full h-full flex flex-col items-center justify-center px-8">
  <Resume />
  <Skils />
  <Study />
</main>
