---
import Resume from "./components/resume.astro";
import Experience from "./components/experience.astro";
import Skils from "./components/skils.astro";
import Study from "./components/study.astro";
---

<main
  class="w-full h-full flex flex-col items-center justify-start px-8 gap-4 overflow-y-auto"
>
  <Resume />
  <Experience />
  <Skils />
  <Study />
</main>
