---
const { items } = Astro.props;
---

<section class="splide" aria-label="other">
  <div class="splide__track">
    <ul class="splide__list">
      {
        items.map((item) => (
          <li class="splide__slide mx-4">
            <img src={item.icon} alt={item.name} />
          </li>
        ))
      }
    </ul>
  </div>
</section>
