---
import SidebarMenu from "./sidebar-menu.astro";
---

<div
  class="w-full px-4 rounded-t-lg flex justify-between items-center relative h-12 bg-white text-black z-20 md:h-full md:max-w-min md:flex-col md:p-2 md:rounded-r-lg md:shadow-md md:justify-start"
>
  <a href="/" class="font-bold text-lg">RKO</a>
  <SidebarMenu />
</div>
