---
import SidebarMenu from "./sidebar-menu.astro";
---

<div class="p-4 rounded-r-lg flex justify-between relative">
  <a href="/" class="font-bold text-lg">RKO</a>
  <button class="btn btn-xs btn-ghost">Menu button</button>
  <SidebarMenu />
</div>
