---
import BurgerMenuIcon from "../../assets/icons/burger-menu.svg";

import HomeIcon from "../../assets/icons/home.svg";
import AboutIcon from "../../assets/icons/about.svg";

const routes = [
  {
    name: "Home",
    path: "/",
    icon: HomeIcon,
  },
  {
    name: "About me",
    path: "/about",
    icon: AboutIcon,
  },
];
---

<button id="sidebar-button" class="btn btn-xs btn-ghost md:hidden">
  <img src={BurgerMenuIcon.src} alt="Menu" class="w-6 h-6" />
</button>

<div
  id="sidebar-menu"
  class="absolute bottom-full left-0 w-full rounded-t-lg hidden flex-col p-4 shadow-md z-50 bg-white"
>
  {
    routes.map((route) => (
      <a
        href={route.path}
        class="my-1 font-semibold flex space-x-2 items-center"
      >
        <img src={route.icon.src} class="h-6 w-6" />
        <span>{route.name}</span>
      </a>
    ))
  }
</div>

<div class="hidden md:flex flex-col space-y-2"></div>

<script>
  document.addEventListener("astro:after-swap", () => {
    const button = document.getElementById("sidebar-button");
    const menu = document.getElementById("sidebar-menu");

    button.addEventListener("click", () => {
      menu.classList.toggle("hidden");
      menu.classList.toggle("flex");
    });
  });

  const button = document.getElementById("sidebar-button");
  const menu = document.getElementById("sidebar-menu");

  button.addEventListener("click", () => {
    menu.classList.toggle("hidden");
    menu.classList.toggle("flex");
  });
</script>
