---
import SidebarMenu from "./sidebar-menu.astro";
---

<div class="px-4 rounded-r-lg flex justify-between items-center relative h-12">
  <a href="/" class="font-bold text-lg">RKO</a>
  <SidebarMenu />
</div>
