---
import TypedComponent from "./react_components/typed-component";
---

<section class="max-w-sm w-full bg-black bg-opacity-50 rounded-lg shadow-xl">
  <div class="bg-gray-400 rounded-t-lg flex justify-end px-2 space-x-2">
    <div
      class="p-1 my-2 rounded-full bg-green-600 flex justify-center items-center"
    >
    </div>
    <div
      class="p-1 my-2 rounded-full bg-blue-600 flex justify-center items-center"
    >
    </div>
    <div
      class="px-1 my-2 rounded-full bg-red-600 flex justify-center items-center"
    >
    </div>
  </div>
  <div class="flex p-2 text-white text-xl font-bold font-mono">
    <span class="mr-2">$</span>
    <TypedComponent client:load />
  </div>
</section>
