---
import Hero from "../../components/hero.astro";
import Background from "./components/background.astro";
---

<div class="w-full h-full flex justify-center items-center">
  <Background />
  <Hero />
</div>
